<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section social-section">
        <div class="social-links">
          {%- include social.html -%}
        </div>
      </div>
      
      <div class="footer-section contact-info">
        <div id="footer-cta">
        </div>
        <div class="footer-contact">
          <p class="contact-email"><a href="mailto:banditsontherun@gmail.com">BANDITSONTHERUN@GMAIL.COM</a></p>
          <p class="contact-location">BROOKLYN, NY</p>
        </div>
      </div>
    </div>
  </div>
</footer>

  