body {
  background-image: url('/assets/images/home/sky.png');
  background-color: #2c7d99;
  background-size: cover;
  background-position-y: top;
}

.footer {
  background-color: rgba(255, 255, 255, 0.3);
}

.homepage-content {
    background-image: url('/assets/images/home/home-bg.png');
    background-size: cover;
    width:100vw;
    height:calc(100vw * 1.26);
    position: relative;
    margin:0;
    overflow-x: clip;
    top: 5vw;
    margin-bottom: 5vw;
}

section.top-section{
    display: flex
}
p.blurb{
    position: relative;
    top: 10vw;
    left: 50vw;
    width: 40vw;
    font-size: calc(max(calc(min(22px, 1.5vw)), 17px));
    color: #ffffff;
    text-shadow: 0px 0px 5px #00000049;
    z-index: 1;
    text-align: center;

}
.blue-top{
    height:0;
    width:100vw;
    & .top-blurb{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .homepage-content{
        top: 100px;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 800px) {
    .homepage-content{
        top: 150px;
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 575px) {
  .homepage-content{
      top: 0;
      margin-bottom: 0;
  }
    .blue-top{
        min-height: fit-content;
        min-height: 100px;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        transition: height 0.5s ease;
        z-index: 1;
        & .top-blurb{
            padding: 20px 10px 0 10px;
            display: inline;
            color: #ffffff;
            text-shadow: 0px 0px 5px #00000049;
            max-width: 80%;
            text-align: center;
            margin-top: 30px;
            font-size: calc(max(calc(min(22px, 1.5vw)), 17px));
            position: relative;
            top: 30px;
        }
    }
    .blurb{
        display:none;
    }
}

img{
    -webkit-filter: drop-shadow(2px 2px 2px #222222);
    filter: drop-shadow(2px 2px 2px #222222);
    max-height: 40vw;
    &:hover:not(.no-drop-shadow) {
        -webkit-filter: drop-shadow(4px 4px 4px #222222);
        filter: drop-shadow(4px 4px 4px #222222);
    }
}
.no-drop-shadow {
    cursor: default;
}
.logo {
    position: absolute;
    height:  20vw;
    bottom: 100vw;
    right: 35vw;
    max-height: 40vw;
}
.bandits {
    position: absolute;
    height: 40vw;
    bottom: 75vw;
    left: -5vw;

}
.cloud{
    position: absolute;
    height: 13vw;
    bottom: 85vw;
    right: 2vw;
}
.record{
    position: absolute;
    height: 20vw;
    bottom: 34vw;
    left: 20vw;
    img {
        height: 20vw;
    }
}
.van{
    position: absolute;
    height: 16vw;
    bottom: 7vw;
    right: 19vw;
    img {
        height: 16vw;
    }
}
.mailbox{
    position: absolute;
    height: 13vw;
    bottom: 8vw;
    right: 38vw;
    img {
        height: 13vw;
    }
}
.apt{
    position: absolute;
    height: 26vw;
    bottom: 12vw;
    right: -2vw;
    img {
        height: 26vw;
    }
}
.movies{
    position: absolute;
    height: 22vw;
    bottom: 42vw;
    right: 22vw;
    img {
        height: 20vw;
    }
}
.deli{
    position: absolute;
    height: 20vw;
    bottom: 22vw;
    right: 34vw;
    img {
        height: 20vw;
    }
}
.theater{
    position: absolute;
    height: 22vw;
    bottom: 55.5vw;
    left: 27vw;
    img {
        height: 22vw;
    }
}
.liberty{
    position: absolute;
    height: 15vw;
    bottom: 50vw;
    left: 3vw;
    img {
        height: 15vw;
    }
}
a {
    width: fit-content;
    z-index: 10;
    cursor: pointer;
}
/* Floating preview that follows cursor */
.hover-preview {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-15%, -100%); /* adjust to sit above/right of cursor */
  will-change: transform, left, top;
  width: 17vw;
  max-width: 200px;
  min-width: 50px;
  /* max-width: 28vw; */
  -webkit-filter: drop-shadow(2px 2px 2px #222222);
  filter: drop-shadow(2px 2px 2px #222222);
  background: transparent;
}

.hover-preview img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
  background: transparent;
}

.homepage-nav a {
  color: white !important;
}
 