---
layout: default
---
<link rel="stylesheet" href="{{ "/assets/css/about.css" | absolute_url }}">

<main class="container">
  <section class="hero-section">
    <div class="container">
      <p class="hero-description justify">
        Bandits on the Run is an indie-folk-pop-americana outfit consisting of three lead singers, a guitar, a cello, a
        suitcase drum, an accordion, and various toy instruments. They hail from Brooklyn, NY and are known for their
        vivacious performance style, genre-defying sound, soaring harmonies, and ability to make music-magic happen
        everywhere from subway platforms to concert halls.
      </p>
    </div>
  </section>

  <section class="content-section">
    <div class="container">
      <div class="band-images">
        <div class="band-image">
          <img src="{{ "/assets/images/adrian.webp" | absolute_url }}" alt="Adrian from Bandits on the Run"
            loading="lazy">
        </div>
        <div class="band-image">
          <img src="{{ "/assets/images/sydney.webp" | absolute_url}}" alt="Sydney from Bandits on the Run"
            loading="lazy">
        </div>
        <div class="band-image">
          <img src="{{ "/assets/images/regina.webp" | absolute_url}}" alt="Regina from Bandits on the Run"
            loading="lazy">
        </div>
      </div>
      <div class="justify">
        <p>
          Bandits on the Run are a musical trio from the Brooklyn-Queens border. Born from a chance encounter busking on
          the subway, Adrian Blake Enscoe, Sydney Shepherd, and Regina Strayhorn defy convention with an impressive
          trade-off of lead vocals and instruments. The Bandits marry acoustic, electric, and bass guitar sounds with
          cello, accordion, suitcases-turned-kickdrums, and (if you’re lucky) sometimes even a megaphone.</p>
          <p>
          The Bandits’ three-part harmonies have been heard filling iconic venues while opening for The Wood Brothers’
          2025 East Coast tour, on the main stages at Colorado’s Rocky Mount Folks Fest and Michigan’s Blissfest, and in
          a sold out residency at Manhattan’s Bowery Electric. Their songs have been featured by NPR’s Tiny Desk and The
          Moth Story Slam, as well as in Netflix’s Ask the StoryBots and the feature film The Same Storm. The Bandits
          tour nationally and internationally, with appearances at Cambridge Folk Festival, Floydfest, Summerfest
          Milwaukee, Americanafest, F1 Singapore Grand Prix, Mile of Music, and more.
          Their theatrical indie-folk lends itself quite well to storytelling and their work adapting text for a musical
          production of As You Like It later became their EP The Shakespeare Tapes.
        </p>
        <p>
          In addition to all their touring and recording work, Bandits on the Run are also in the business of writing
          musicals, sometimes as a trio and sometimes with collaborators. They are currently creating the stage musical
          adaptation of the novel What’s Eating Gilbert Grape with actor-musician-longtime-friend Christopher Sears and
          newfound friend Academy Award Nominee Peter Hedges, supported by MCC Theater. Bandits on the Run are also
          developing an original musical, Yukon Ho, about a group of Black prospectors in the Alaskan gold rush. Yukon
          Ho was researched on the ground in Skagway, Alaska with support from the NEA, and has been workshopped with
          support from Prospect Musicals. They are alumni of several musical theater writing development programs,
          including Berkeley Rep Ground Floor, Rhinebeck Writers Retreat, and The Johnny Mercer Songwriters Grove at
          Goodspeed Musicals.
        </p>
        <p>
          Adrian, Sydney, and Regina bring their individual corners of the creative universe into the room when they
          collaborate. Adrian made their Broadway debut in The Avett Brothers’ Swept Away in 2024 and can be seen
          playing Austin Dickinson in the Apple TV+ Series Dickinson. Sydney was most recently seen in the 2025 world
          premiere of The Ruins at the Guthrie Theater. Regina also works in casting, bringing to life shows for HBO,
          Amazon, Apple TV, CBS & Hulu, as well as a freelance photographer.
        </p>
        <p>
          The Bandits will be on the run again soon, opening for Alan Doyle on his coast-to-coast US tour in 2026 and
          more dates to be announced soon! They hope to see you there.

        </p>
      </div>
    </div>
  </section </main>