---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/contact.css' | absolute_url }}">

<main class="container">
  <div class="contact-page">
    <div class="contact-section">
      <div class="bandits-image">
        <img src="{{ "/assets/images/contact.webp" | absolute_url }}" alt="Bandits on the Run" class="contact-bandits-img">
      </div>
    </div>
    <div class="contact-section">
      <h2>MANAGEMENT</h2>
      <div class="contact-info">
        <div class="contact-name">Glen Phillips / Side Two Music</div>
        <a href="tel:+13104894400" class="contact-phone">+1-310-489-4400</a>
        <a href="mailto:glen@sidetwo.la" class="contact-email">glen@sidetwo.la</a>
      </div>
      <h2>BOOKING</h2>
      <div class="contact-info">
        <div class="contact-name">Lynn Cingari / Wasserman</div>
        <a href="mailto:lcingari@teamwass.com" class="contact-email">lcingari@teamwass.com</a>
      </div>
      <div class="contact-info">
        <div class="contact-name">Andrea Johnson / Wasserman</div>
        <a href="mailto:andrea.johnson@teamwass.com" class="contact-email">andrea.johnson@teamwass.com</a>
      </div>
      <h2>PRESS</h2>
      <div class="contact-info">
        <div class="contact-name">Jillian Santella</div>
        <a href="mailto:jillian@oneinamillionmedia.com" class="contact-email">jillian@oneinamillionmedia.com</a>
      </div>
    </div>
  </div> 
</main>