<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="/assets/css/home.css">
  <script src="/assets/js/home.js" defer></script>

  <body>

    {%- include homepage-header.html -%}

    <div class="blue-top">
      <p class="top-blurb">Bandits on the Run is an indie-folk-pop-americana outfit</p>
    </div>

    <div class="homepage-content">
        <section class="top-section">
            <img class="bandits no-drop-shadow" src="/assets/images/home/bandits-on-cloud.png" alt="Sydney Adrian and Regina on a cloud">
            <p class="blurb">Bandits on the Run is an indie-folk-pop-americana outfit consisting of three lead singers, a guitar, a cello, a suitcase drum, an accordion, and various toy instruments.</p>
            <img class="cloud no-drop-shadow" src="/assets/images/home/cloud.png" alt="cloud">
        </section>
            <a class="liberty no-drop-shadow" href="/">
                <img class="no-drop-shadow" src="/assets/images/home/liberty.png" alt="">
            </a>
            <a class="theater" href="/theater">
                <img class="no-drop-shadow" src="/assets/images/home/city.png">
            </a>
            <a class="record" href="/music">
                <img src="/assets/images/home/record-shop.png"
                    data-hover-gif="/assets/gifs/music.gif"
                    data-hover-static="/assets/images/home/music_last_frame.png">
            </a>
            <a class="movies" href="/videos">
                <img src="/assets/images/home/movies.png"
                    data-hover-gif="/assets/gifs/videos.gif"
                    data-hover-static="/assets/images/home/videos_last_frame.png">
            </a>
            <a class="deli" href="/store">
                <img class="bodega"
                    src="/assets/images/home/deli.png"
                    data-hover-gif="/assets/gifs/shop.gif"
                    data-hover-static="/assets/images/home/shop_last_frame.png">
            </a>
            <a class="apt" href="/">
                <img class="no-drop-shadow"  src="/assets/images/home/bandits-apt.png" alt="">
            </a>
            <a class="van" href="/shows">
                <img src="/assets/images/home/van.png"
                    data-hover-gif="/assets/gifs/shows.gif"
                    data-hover-static="/assets/images/home/shows_last_frame.png">
            </a>
            <a class="mailbox" href="/contact">
                <img src="/assets/images/home/mailbox.png"
                    data-hover-gif="/assets/gifs/contact.gif"
                    data-hover-static="/assets/images/home/contact_last_frame.png">
            </a>
        </section>
      </div>

    {%- include footer.html -%}

  </body>

</html>