---
layout: default
---
<link rel="stylesheet" href="{{ "/assets/css/justice.css" | absolute_url }}">

<main class="container">
  <section class="hero-section">
    <div class="container">
      <p class="hero-description">
        We are a group of folks who unabashedly believe that every human being deserves a life with all the safety, dignity, and community they could want, that structures created by colonialism and capitalism have created the material conditions for the great majority of violence and needless suffering in our world, and that it is our responsibility (and yours!) is to dismantle these systems of oppression through art, community building, radical present mindedness, and a good sense of humor ;)
      </p>
    </div>
  </section>
<br/><br/>
  <section class="content-section">
    <div class="container">
      
      <p>
        That means that we try to lend the powers of our Banditry to advocate for progressive, anti-capitalist, peace-focused, justice-based work wherever possible! We have written campaign jingles for candidates we believe in, raised money for trans rights organizations, and done voter registration drives for GOTV initiatives. <br/> If you want to follow our lead, here are three simple steps: 
      </p>
      <ol>
        <li><a href="https://www.vote.org/">Register to vote!</a> (Register for a major political party so you can vote in the primaries)</li>
        <li>Follow <a href="https://workingfamilies.org/">Working Families Party</a> and your local <a href="https://www.dsausa.org/"> Democratic Socialists of America</a> chapter, and consider becoming a dues paying member.</li>
        <li>Get involved with movement work!
          <ul>
            <li>
              <a href="https://www.fiftyfifty.one/">
                Join the 50501 Movement
              </a>
            </li>
            <li>
              <a href="https://www.mutualaidhub.org/">
                Find a local Mutual Aid group
              </a>
            </li>
            <li>
              <a href="https://www.handsoffnyc.com">
                Follow Hands Off NYC
              </a>
            </li>
          </ul>
        </li>
       </ol> 

    </div>
  </section
</main>