---
layout: default
---

<link rel="stylesheet" href="{{ "/assets/css/theatre.css" | absolute_url }}">
<main class="container">
  <section class="content-section flex flex-wrap flex-reverse">
    <div class="bandits-image">
      <img src="{{ "/assets/images/theatre/Theatre Group Pic.JPG" | absolute_url }}" alt="Bandits on the Run" class="contact-bandits-img">
    </div>
    <div class="bio">
      <p>Bandits on the Run are also in the business of writing musicals! They are currently creating the stage musical adaptation of the novel What's Eating Gilbert Grape with actor-musician-longtime-friend Christopher Sears and newfound friend Academy Award Nominee Peter Hedges, supported by MCC Theater. The Bandits are also developing a fully original musical, Yukon Ho, about a group of Black prospectors in the Alaskan gold rush. Yukon Ho was researched on the ground in Skagway, Alaska with support from the NEA, in collaboration with Prospect Musicals. They are alumni of several musical theater writing development programs, including Berkeley Rep Ground Floor, Rhinebeck Writers Retreat, and the Johnny Mercer Songwriters Grove at Goodspeed Musicals. Bandits on the Run frequently write for film, tv, theater, and beyond. If you're interested in wrangling the bandits for your project, reach out! </p>
      <p>Adrian, Sydney, and Regina bring their individual corners of the creative universe into the room when they collaborate. Adrian Blake Enscoe made their Broadway debut in The Avett Brothers' Swept Away in 2024 and can be seen playing Austin Dickinson in the Apple TV+ Series Dickinson. Sydney Shepherd was most recently seen in the 2025 world premiere of The Ruins at the Guthrie Theater. Regina Strayhorn works in casting, bringing to life shows for HBO, Amazon, Apple TV, CBS & Hulu, as well as a freelance photographer. </p>
      <p>For updates on opportunities to see their musical theater work, please sign up for Bandits' newsletter, <a 
        href="{{ "/newsletter" | absolute_url }}">Little Letters!</a></p>
    </div>
  </section>
</main>

